
/* $primaryColor: #0099aa;
    primaryLighter2: aaf6ff
    $primaryLighter: 00b0c3

    $primaryBorder: #00bbcc;
$prmaryBackgroundColor: white;

*/
.button {
    border-width: 0;
    border-radius: 4px;
    margin: 2px;
    padding: 0;
    background-color: white;
    cursor: pointer;
    &:hover {
        background-color: #aaf6ff;
    }
    &.checked {
        background-color: #00b0c3;
    }
}

.dropDownButton {
    position: relative;
    width: 32px;
    height: 32px;
    overflow: visible;
}

.dropDown {
    z-index: 1;
    border: solid 1px #00bbcc;
    display: inline-block;
    background-color: white;
    padding: 4px;
    box-shadow: 2px 2px 4px gray;
    position: absolute;
    top: 14px;
    left: 0;
}

.dropDownItem {
    cursor: pointer;
    padding: 2px;
    white-space: nowrap;
    min-width: 60px;
    &:hover {
        background-color: #aaf6ff;
    }
}
